* {
  font-weight: 200 !important;
}

@font-face {
  font-family: 'Inter-SemiBold', sans-serif ;
  src: local('Inter-SemiBold'), url('./assets/fonts/Inter-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'MerriweatherSans-Regular', sans-serif ;
  src: local('MerriweatherSans-Regular'), url('./assets/fonts/MerriweatherSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter-Bold', sans-serif ;
  src: local('Inter-Bold'), url('./assets/fonts/Inter-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter-Regular', sans-serif ;
  src: local('Inter-Regular'), url('./assets/fonts/Inter-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans-Regular', sans-serif ;
  src: local('OpenSans-Regular'), url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Regular', sans-serif ;
  src: local('Poppins-Regular'), url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RedHatMono-Regular', monospace ;
  src: local('RedHatMono-Regular'), url('./assets/fonts/RedHatMono-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold', sans-serif ;
  src: local('Roboto-Bold'), url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Medium', sans-serif ;
  src: local('Roboto-Medium'), url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-LightItalic', sans-serif ;
  src: local('Roboto-LightItalic'), url('./assets/fonts/Roboto-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Thin', sans-serif ;
  src: local('Roboto-Thin'), url('./assets/fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-ThinItalic', sans-serif ;
  src: local('Roboto-ThinItalic'), url('./assets/fonts/Roboto-ThinItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoSlab-Regular', monospace ;
  src: local('RobotoSlab-Regular'), url('./assets/fonts/RobotoSlab-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'SawarabiMincho-Regular', serif ;
  src: local('SawarabiMincho-Regular'), url('./assets/fonts/SawarabiMincho-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'SfProDisplay-Medium', serif ;
  src: local('SfProDisplay-Medium'), url('./assets/fonts/SfProDisplay-Medium.ttf') format('truetype');
}


.InterBold {
font-family: 'Inter-Bold', sans-serif !important;
}
.InterRegular {
font-family: 'Inter-Regular', sans-serif !important;
}
.InterSemiBold {
font-family: 'Inter-SemiBold', sans-serif !important;
}
.MerriweatherSansRegular {
font-family: 'MerriweatherSans-Regular', sans-serif !important;
}
.OpenSansRegular {
font-family: 'MerriweatherSans-Regular', sans-serif !important;
}
.PoppinsRegular {
font-family: 'Poppins-Regular', sans-serif !important;
}
.RedHatMonoRegular {
font-family: 'RedHatMono-Regular', monospace !important;
}
.RobotoBold {
font-family: 'Roboto-Bold', sans-serif !important;
}
.RobotoMedium {
font-family: 'Roboto-Medium', sans-serif !important;
}
.RobotoLightItalic {
font-family: 'Roboto-LightItalic', sans-serif !important;
}
.RobotoThin {
font-family: 'Roboto-Thin', sans-serif !important;
}
.RobotoThinItalic {
font-family: 'Roboto-ThinItalic', sans-serif !important;
}
.RobotoSlabRegular {
font-family: 'RobotoSlab-Regular', sans-serif !important;
}
.SawarabiMinchoRegular {
font-family: 'SawarabiMincho-Regular', serif !important;
}
.SfProDisplayMedium {
font-family: 'SfProDisplay-Medium', serif !important;
}