@font-face {
  font-family: 'Roboto-Thin' ;
  src: local('Roboto-Thin'), url('../../../../assets/fonts/Roboto-Thin.ttf') format('truetype');
}
*:focus {
  outline: none;
}
.container {
  border-bottom: 1px solid #ccc;
  display: flex;
}
input {
  display: inline-block;
  border:none;
  width: 100% !important;
}
#input::placeholder {
  font-size: var(--placeHolderSize);
  font-family: Roboto-Thin;
  letter-spacing: 1px;
 }


