.switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 3.4rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.6rem;
  width: 2.6rem;
  left: 0.4rem;
  bottom: 0.4rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2.6rem);
  -ms-transform: translateX(2.6rem);
  transform: translateX(2.6rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 3.4rem;
}

.slider.round:before {
  border-radius: 50%;
}


#close-button {
  background-color:white; 
  border:none;
  border-radius: 40%; 
  transition-duration: 0.4s;
  cursor: pointer;
  /* padding-top:1 */
  box-sizing: border-box;
  display: flex;
  margin-inline-start: auto;
}
.__react_component_tooltip {
  font-size: 1.8rem !important;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4) !important;
  transition: 0.2s;
}
.card-container:hover .card-footer p{
  color: white !important;
  transition: 0.4s;
}
.card-container:hover .card-footer{
  background-color: #4c9edb !important;
  transition: 0.4s;
}
#close-button:hover svg{
  color: black;
}
.buttonHoverGreen:hover {
  background-color: #39D712 !important;
  transition: 0.3s !important;
}
.buttonHoverGreen:hover p{
  color: white !important;
  transition: 0.3s !important;
}
.buttonHoverGold:hover {
  background-color: #DEBF50 !important;
  transition: 0.3s;
}
.buttonHoverGold:hover p{
  color: white !important;
  transition: 0.3s;
}
.buttonHoverGold:hover svg{
  color: white !important;
  transition: 0.3s;
}
.buttonHoverGoldenYellow:hover {
  border: none !important;

  background-color: #EBD894 !important;
  transition: 0.3s;
}
.buttonHoverGoldenYellow:hover p{
  transition: 0.3s;
}
.buttonHoverGoldenYellow:hover svg{
  color: white !important;
  transition: 0.3s;
}
.buttonHoverYellow:hover {
  background-color: white !important;
  transition: 0.3s;
}
.buttonHoverYellow:hover p{
  color: #F3B948 !important;
  transition: 0.3s;
}
.buttonHoverBlack:hover p{
  color: black !important;
  font: caption;
  transition: 0.3s;
}
.buttonHoverBlack:hover svg{
  color: black !important;
  transition: 0.3s;
}
.buttonHoverRoomCard:hover p{
  color: black !important;
  font-weight: bold;
}
.buttonHoverRoomCard:hover div>img{
  width: 11rem !important;
  height: 11rem !important;
  transition: 0.3s;
}
.buttonHoverDropDown:hover {
  background-color: #EBC351 !important;
  transition: 0.3s;
}
.buttonHoverDropDown:hover p{
  color: white !important;
  transition: 0.3s;
}
.buttonHoverDropDown:hover svg{
  color: white !important;
  transition: 0.3s;
}
.buttonHoverRoomCard:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px !important ;}
.passedScore {
  background-color: #F3B948 !important;
}
.passedScore p {
  color: white !important;
}
.hoverJoker:hover  {
  background-color: #4d8278 !important;
  transition: 0.2s;
}

.firstJokerButton {
  position: absolute !important;
  right: 75% !important;
}
.secondJokerButton {
  position: absolute !important;
  left: 75% !important;
}
.firstUser {
  /* position: absolute; */
  /* bottom: 8.5rem; */
  /* left: -2rem; */
  /* right: 18rem; */
  width: 3.6rem;
  height: 3.6rem;
  object-fit: cover;
  border-radius: 50%;
  display: inline-block;
}
.secondUser {
  width: 3.6rem;
  height: 3.6rem;
  object-fit: cover;
  border-radius: 50%;
  /* position: absolute; */
  /* bottom: 2.2rem;
  left:18rem; */
  /* left: 18rem; */
  display: inline-block;
}
.input::placeholder {
  font-size: 1.6rem !important;
}
.input:checked input{
  accent-color: #709F60;
  font-style: normal;
} 
.input:checked{
  color: #709F60;
  accent-color: #709F60 !important;
  border: none;
}
.dropbtn {
  background-color: transparent;
  padding: 0 3.5rem;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 2rem;
  background-color: #f9f9f9;
  min-width: 14rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: 0.2s;
}

.dropdown:hover .dropdown-content {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

.dropdown:hover .dropbtn div>svg {
  color: #EBC351;
  width: 4.5rem;
  height: 4.5rem;
  transition: 0.2s;
  
}
.close-button:hover svg{
  color: black !important;
  transition: 0.4s !important;
}
#friendItemList .row:nth-child(odd){background-color: #F0F6F5;}

#friendItemList .row:nth-child(even){background-color: #E6E6E6;}
