:root {
  --left: 50%;
  --right: 50%;
}
#close-button {
  background-color:white; 
  border:none;
  border-radius: 40%; 
  transition-duration: 0.4s;
  cursor: pointer;
  padding:4% 5% 0% 0%;
  box-sizing: border-box;
  display: flex;
  margin-inline-start: auto;
}
.__react_component_tooltip {
  font-size: 1.8rem !important;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4) !important;
  transition: 0.2s;
}
.card-container:hover .card-footer p{
  color: white !important;
  transition: 0.4s;
}
.card-container:hover .card-footer{
  background-color: #4c9edb !important;
  transition: 0.4s;
}
#close-button:hover svg{
  color: black;
}
.buttonHoverGreen:hover {
  background-color: #39D712 !important;
  transition: 0.3s !important;
}
.buttonHoverGreen:hover p{
  color: white !important;
  transition: 0.3s !important;
}
.buttonHoverGold:hover {
  background-color: #DEBF50 !important;
  transition: 0.3s;
}
.buttonHoverGold:hover p{
  color: white !important;
  transition: 0.3s;
}
.buttonHoverGold:hover svg{
  color: white !important;
  transition: 0.3s;
}
.buttonHoverYellow:hover {
  background-color: white !important;
  transition: 0.3s;
}
.buttonHoverYellow:hover p{
  color: #F3B948 !important;
  transition: 0.3s;
}
.buttonHoverBlack:hover p{
  color: black !important;
  font: caption;
  transition: 0.3s;
}
.buttonHoverRoomCard:hover p{
  color: black !important;
  font-weight: bold;
}
.buttonHoverRoomCard:hover div>img{
  width: 11rem !important;
  height: 11rem !important;
  transition: 0.3s;
}
.buttonHoverRoomCard:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px !important ;}
.passedScore {
  background-color: #F3B948 !important;
}
.passedScore p {
  color: white !important;
}
.hoverJoker:hover  {
  background-color: #4d8278 !important;
  transition: 0.2s;
}

.firstJokerButton {
  position: absolute !important;
  right: 75% !important;
}
.secondJokerButton {
  position: absolute !important;
  left: 75% !important;
}
.firstUser {
  position: absolute;
  bottom: 2.2rem;
  display: inline-block
}
.secondUser {
  position: absolute;
  bottom: 2.2rem;
  left:18rem;
  display: inline-block;
}
.input::placeholder {
  font-size: 1.4rem !important;
}
.input:checked input{
  accent-color: #709F60;
  font-style: normal;
} 
.input:checked{
  color: #709F60;
  accent-color: #709F60 !important;
  border: none;
}
/* ::-webkit-scrollbar {
  width: 1.8rem;
}
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
background: #3B5672; 
border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
background: #3B5672 !important; 
} */
.close-button:hover svg{
  color: black !important;
  transition: 0.4s !important;
}
#friendItemList .row:nth-child(odd){background-color: #F0F6F5;}

#friendItemList .row:nth-child(even){background-color: #E6E6E6;}
